<h2>Edit <%= resource_name.to_s.humanize %></h2>

<table class="table">
  <tr> 
    <td align="right" colspan=2>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </td>
  </tr>
  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <tr>
    <td>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </td>
    <td>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </td>
  </tr>
 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <tr>
    <td colspan=2>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    </td>
  </tr>
 <% end %>
  <tr>
    <td>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </td>
    <td>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </td>
    <td>
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :DOB %><br />
      <%= f.date_field :DOB %>
    </td>
    <td>
      <%= f.label :phone %><br />
      <%= f.number_field :phone %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :isDriver %><br />
      <%= f.check_box :isDriver %>
    </td>
    <td>
      <%= f.label :driverlicense %><br />
      <%= f.text_field :driverlicense %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :autoAccept %><br />
      <%= f.check_box :autoAccept %>
    </td>
    <td>
      <!--< % if isAdmin?  %>-->
      <%= f.label :isAdmin %><br />
      <%= f.check_box :isAdmin %>
      <!--< % end %>-->
     
      
    </td>
  </tr>
  <tr>
    <td align="right" colspan=2>
      <%= f.submit "Update" %>
    </td>
  </tr>
   
<% end %>
 </table>

<%= link_to "Back", :back %>
