
<table class="table">
  <tr>
    <td colspan=2><strong>Match id:</strong> <%= @contract_origin.matchID_id %></td>
  </tr>
   <tr>
    <td><strong>Driver agreed:</strong> <%= @contract_origin.isSigned_Driver %></td>
    <td><strong>Sender agreed:</strong> <%= @contract_origin.isSigned_Sender %></td>
  </tr>
  <tr>
    <td colspan=2> <strong>Origin date:</strong> <%= (@contract_origin.origin_date).strftime("%d/%m/%Y %I:%M%p") %></td>
  </tr>
  <tr>
    <td colspan=2> <strong>Comment:</strong> <%= @contract_origin.comment %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_contract_origin_path(@contract_origin) %> |
<% if current_user.isAdmin? %>
  <%= link_to 'Back', contract_origins_path %>
<% else %>
  <%= link_to 'Back', indexUserContract_path %>
<% end %>
