<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @location_log.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location_log.longitude %>
</p>

<p>
  <strong>Position time:</strong>
  <%= @location_log.position_time %>
</p>

<%= link_to 'Edit', edit_location_log_path(@location_log) %> |
<%= link_to 'Back', location_logs_path %>
