<%= form_for(@bank_account) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
      <% @bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <td> <%= f.label :ISBN, "IBAN" %><br> <%= f.number_field :ISBN %></td>
    </tr>
    <tr>
      <td>
        <%= f.label :accountHolder %><br> <%= f.text_field :accountHolder %>
      </td>
    </tr>
    <tr>
      <td> 
        <%= f.label :userID_id %><br>
        <% if current_user.isAdmin? %>
          <% users = User.all %>
          <%= f.select :userID_id, options_for_select(users.collect{|u| [ u.name+' '+u.surname, u.id] }, :userID_id) %>
        <% else %>
          <%= f.text_field :userID_id, value: current_user.id, :readonly => true %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td align="right"><%= f.submit %></td>
    </tr>
  </table>
   
<% end %>
