
<table class="table">
  <tr>
    <!--i confused the book and bank names :D to be change in version 2-->
    <td><strong>IBAN:</strong> <%= @bank_account.ISBN %></td>
  </tr>
  <tr>
    <td><strong>Accountholder:</strong> <%= @bank_account.accountHolder %></td>
  </tr>
  <tr>
    <td> <strong>User id:</strong> <%= @bank_account.userID %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
