<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
  <tr>
    <td colspan=2><%= f.label :journeyID_id %><br> <%= f.text_field :journeyID_id %></td>
  </tr>
  <tr>
    <td> <%= f.label :origin_id %><br> <%= f.text_field :origin_id %></td>
    <td> <%= f.label :originTime %><br> <%= f.datetime_select :originTime %></td>
  </tr>
  <tr>
    <td><%= f.label :destiny_id %><br> <%= f.text_field :destiny_id %></td>
    <td><%= f.label :destinyTime %><br> <%= f.datetime_select :destinyTime %></td>
  </tr>
  <tr>
    <td> <%= f.label :packageID_id %><br> <%= f.text_field :packageID_id %></td>
    <td><%= f.label :price %><br> <%= f.text_field :price %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label :acceptTime %><br> <%= f.datetime_select :acceptTime %></td>
  </tr>
  <tr>
    <td colspan=2 align="right"><%= f.submit %></td>
  </tr>
</table>

<% end %>
