<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
  <tr>
    <td><%= f.label :numberPlate %><br> <%= f.text_field :numberPlate %></td>
    <td>
      <%= f.label :driverID_id %><br>
      
      
      <% if current_user.isAdmin? %>
        <%= f.select :driverID_id, options_for_select(@users.collect{|u| [u.name+ ' ' +u.surname, u.id] }, @vehicle.driverID_id) %>
      <% elsif %>
         <%= f.text_field :driverID_id, :value => current_user.id, :disabled => true %>
      <% end %>
    </td>
    
  </tr>
  <tr>
    <td><%= f.label :brand %><br> <%= f.text_field :brand %></td>
    <td><%= f.label :model %><br> <%= f.text_field :model %></td>
  </tr>
  <tr>
   <td>
    <p>capacity of your car (Number of packages)</p>
    <p border=1><%= f.label :packagesCat1, "Category 1" %> <%= f.number_field :packagesCat1 %></br>
    <%= f.label :packagesCat2, "Category 2" %> <%= f.number_field :packagesCat2 %></br>
    <%= f.label :packagesCat3, "Category 3" %> <%= f.number_field :packagesCat3 %></br></p>
    </td>
    <td><%= f.label :isFull %><br> <%= f.check_box :isFull %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.submit %></td>
  </tr>
  
</table>


<% end %>
