<p id="notice"><%= notice %></p>

<h2> Your Vehicle 
<%= @vehicle.driverID_id %>
<%= @driver.name %>

</h2>
<table class="table">
  <tr>
    <td><strong>Numberplate:</strong></br> <%= @vehicle.numberPlate %></td>
    <td><strong>Model:</strong></br> <%= @vehicle.model %> </td>
    <td><strong>Brand:</strong></br> <%= @vehicle.brand %></td>
  </tr>

  <tr>
    <td colspan=3><strong>Isfull:</strong></br> <%= @vehicle.isFull %></td>
  </tr>

  <tr>
    <td><strong>Max Packages in cat1:</strong></br> <%= @vehicle.packagesCat1 %></td>
    <td><strong>Max Packages in cat2:</strong></br> <%= @vehicle.packagesCat2 %></td>
    <td><strong>Max Packages in cat3:</strong></br> <%= @vehicle.packagesCat3 %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
