<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <p> </p>
 
 <table class="table">
    <thead class="table_heading">
      <tr>
        <td><%= f.label :id %> <%= @category.id %></td>
      </tr>
    </thead>
    <tr>
      <td>
        <%= f.label :max_length %><br>
        <%= f.number_field :max_length %>
      </td>
      <td>
        <%= f.label :max_width %><br>
        <%= f.number_field :max_width %>
      </td>
      <td>
        <%= f.label :max_height %><br>
        <%= f.number_field :max_height %>
      </td>
      <td>
        <%= f.label :max_weight %><br>
        <%= f.number_field :max_weight %>
      </td>
    </tr>
    <tr>
      <td align="right" colspan="4">
        <%= f.submit %>
      </td>
    </tr>
 </table>
<% end %>
