

<h1>Listing Journeys</h1>

<table class="table">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Origintime</th>
      <th>Intermediate1</th>
      <th>Price01</th>
      <th>Intermediate2</th>
      <th>Price12</th>
      <th>Intermediate3</th>
      <th>Price23</th>
      <th>Destiny</th>
      <th>Destinytime</th>
      <th>Pricetotal</th>
      <th>Driver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journeys.each do |journey| %>
      <tr>
        <td><%= journey.origin.city %></td>
        <td><%= (journey.originTime).strftime("%m/%d/%Y %I:%M%p") %></td>
        <% if journey.intermediate1.city != "" %>
          <td><%= journey.intermediate1.city %></td>
          <td><%= journey.price01 %></td>
        <%else%>
          <td> - </td>
          <td> n/a </td>
        <% end %>
        <% if journey.intermediate2.city != "" %>
          <td><%= journey.intermediate2.city %></td>
          <td><%= journey.price12 %></td>
        <%else%>
          <td> - </td>
          <td> n/a </td>
        <% end %>
        <% if journey.intermediate3.city != "" %>
          <td><%= journey.intermediate3.city %></td>
          <td><%= journey.price23 %></td>
        <%else%>
          <td> - </td>
          <td> n/a </td>
        <% end %>
        <td><%= journey.destiny.city %></td>
        <td><%= (journey.destinyTime).strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= journey.priceTotal %></td>
        <td><%= journey.driverID_id %></td>
        <td><%= link_to 'Show', journey %></td>
        <td><%= link_to 'Edit', edit_journey_path(journey) %></td>
        <td><%= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journey', new_journey_path %>
