<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <% if (@journey.origin != nil) %>
    <%= @journey.origin.city %>
  <% end %>
</p>

<p>
  <strong>Intermediate1:</strong>
  <% if (@journey.intermediate1 != nil) %>
    <%= @journey.intermediate1.city %>
  <% end %>
</p>

<p>
  <% if (@journey.intermediate2 != nil) %>
    <strong>Intermediate2:</strong>
    <%= @journey.intermediate2.city %>
  <% end %>
</p>

<p>
  <% if (@journey.intermediate3 != nil) %>
  <strong>Intermediate3:</strong>
  <%= @journey.intermediate3.city %>
  <% end %>
</p>

<p>
  <strong>Destiny:</strong>
  <% if (@journey.destiny != nil) %>
  <%= @journey.destiny.city %>
  <% end %>
</p>

<p>
  <strong>Origin time:</strong>
  <%= @journey.originTime %>
</p>

<p>
  <strong>Destination time:</strong>
  <%= @journey.destinyTime %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @journey.driverID.email %>
</p>

<p>
  <strong>Price Total:</strong>
  <%= @journey.priceTotal %>
</p>

<p>
  <strong>Price Origin-1 :</strong>
  <%= @journey.price01 %>
</p> 

<p>
  <strong>Price 1-2:</strong>
  <%= @journey.price12 %>
</p>

<p>
  <strong>Price 2-3:</strong>
  <%= @journey.price23 %>
</p>

<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%= link_to 'Back', journeys_path %>
