<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
  <tr>
    <td><%= f.label :reviewOn_id %><br> <%= f.text_field :reviewOn_id %></td>
    <td><%= f.label :reviewBy_id %><br> <%= f.text_field :reviewBy_id %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label :comment %><br> <%= f.text_area :comment %></td>
  </tr>
  <tr>
    <td colspan=2 align="right"><%= f.submit %></td>
  </tr>
</table>
 
<% end %>
