<table class="table">
  <tr>
    <td>
      <strong>Reviewon:</strong> <%= @review.reviewOn %>
    </td>
    <td>
      <strong>Reviewby:</strong> <%= @review.reviewBy %>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <strong>Comment:</strong> <%= @review.comment %>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
