<p id="notice"><%= notice %></p>

<p>
  <strong>Reviewon:</strong>
  <%= @review.reviewOn %>
</p>

<p>
  <strong>Reviewby:</strong>
  <%= @review.reviewBy %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
